@inject HttpClient HttpClient

<div class="dialog-container">
    <div class="dialog">
        <div class="dialog-title">
            <h2>@book.Title</h2>
            @book.Author
        </div>
        <form class="dialog-body">
            <div>
                <label>Кол-во:</label>
                <input type="range" min="1" max="@book.TotalCount" step="1" @bind="@book.ToOrderCount" @bind:event="oninput" />
                <span class="size-label">
                    @(book.TotalCount)
                </span>
            </div>
        </form>

        <div class="dialog-buttons">
            <button class="btn btn-secondary mr-auto" @onclick="OnCancel">Cancel</button>
            <span class="mr-center">
                Итого: @(book.ToOrderCount) за @(book.GetFormattedTotalPrice()) рублей
            </span>
            <button class="btn btn-success ml-auto" @onclick="OnConfirm">Заказать >></button>
        </div>
    </div>
</div>

@code {

    [Parameter] public Book book { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }
    [Parameter] public EventCallback OnConfirm { get; set; }

}